<%-include('partials/header')%>
<div>
  <h1>Eliminar Producto</h1>
  <p>
    ¿Estas seguro que queres eliminar un producto <%= producto.nombre %> <%=
    producto.descripcion %>?
  </p>
  <form action="/destruir/<%=producto.id%>?_method=DELETE" method="POST">
    <button type="submit">Eliminar</button>
  </form>
</div>

<%-include('partials/footer')%>
