<%- include('partials/header') %>

<div class="cards" style="display: flex; flex-wrap: wrap">
  <% productos.forEach(producto => { %>
  <div class="card">
    <img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" />
    <h2><%= producto.nombre %></h2>
    <p><%= producto.descripcion %></p>
    <p><%= producto.id %></p>
    <p><strong>$<%= producto.precio %></strong></p>
    <a href="/productos/editar/<%=producto.id%>">Editar</a>
    <a href="/productos/eliminar/<%=producto.id%>">Eliminar</a>
  </div>
  <% }) %>

  <a href="/productos/nuevo">Crear un producto</a>
</div>
<%- include('partials/footer') %>
